In [ ]:
1.#Explain the key features of Python that make it a popular choice for programming.
#Key Features of Python and What makes it popular choice in programming

#Key Features:
'''
(a) Ease of Learning
(b) Versability
(c) Reading Python Codes is Very Easy
(d) A lot of Libraries(1,37,000)
(e) Huge active Community
(f) Widely used by Data Industry
'''

In [331]:
2.#Describe the role of predefined keywords in Python and provide examples of how they are used in a program.
#Roles of Predefined Keywords in Python and their Examples:
'''Keywords are predefined words that hold a specific purpose in Python Programming.'''
#E.g: Print,Type
a=1
print(a)

1

In [69]:
type(a)

int

In [71]:
#There are many Keywords in Python.
''' If we type help('keywords') all keywords list will be shown.'''

" If we type help('keywords') all keywords list will be shown."

In [73]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [75]:
3.#Compare and contrast mutable and immutable objects in Python with examples.
#Mutable vs Immutable Objects
'''Mutability means ability to edit codes after assignment.'''

'Mutability means ability to edit codes after assignment.'

In [77]:
#For Example:

In [79]:
mylist=[1,2,3,4,'Sumitabh','Raja']

In [81]:
mylist

[1, 2, 3, 4, 'Sumitabh', 'Raja']

In [83]:
type(mylist)

list

In [85]:
mylist[5]='King'

In [87]:
mylist

[1, 2, 3, 4, 'Sumitabh', 'King']

In [89]:
#So,List is an example of Mutable object.

In [91]:
'''String is an example of Immutable object'''
'''Objects whose state or value cannot be changed after they are created are called immutable objects.'''
#For Example:

'Objects whose state or value cannot be changed after they are created are called immutable objects.'

In [93]:
a='Sumitabh'

In [95]:
print(a)

Sumitabh

In [97]:
a[2]='u'

TypeError: 'str' object does not support item assignment

In [99]:
#string is a type ofimmutable object which does not supports item assignment.

In [101]:
4.#Discuss the different types of operators in Python and provide examples of how they are used.
#Operators of Python
'''
(a)Arithmatic Operators
(b)Comparison Operators
(c)Logical Operators
(d)Bitwise Operators
(e)Assignment Operators
(f)Membership Operators
(g)Identity Operators
'''

'\n(a)Arithmatic Operators\n(b)Comparison Operators\n(c)Logical Operators\n(d)Bitwise Operators\n(e)Assignment Operators\n(f)Membership Operators\n(g)Identity Operators\n'

In [103]:
#(a)Arithmatic Operators
'''
* Addition(+)
* Substraction(-)
* Multiplication(*)
* Division(/)
* Modulus(%)
* Exponentiation(**)
* Floor Division(//)
'''

'\n* Addition(+)\n* Substraction(-)\n* Multiplication(*)\n* Division(/)\n* Modulus(%)\n* Exponentiation(**)\n* Floor Division(//)\n'

In [105]:
#For Example:
x=10
y=4

In [107]:
print(x+y)

14

In [109]:
print(x-y)

6

In [111]:
print(x*y)

40

In [113]:
print(x/y)

2.5

In [115]:
print(x%y)

2

In [117]:
print(x**y)

10000

In [119]:
print(x//y)

2

In [121]:
#(b)Comparison Operators
'''
* == (equal to)
* != (not equal to) 
* > (greater than) 
* < (less than)
* >= (greater than or equal to)
* <= (less than or equal to
'''

'\n* == (equal to)\n* != (not equal to) \n* > (greater than) \n* < (less than)\n* >= (greater than or equal to)\n* <= (less than or equal to\n'

In [123]:
#For Example
print(x==y)

False

In [125]:
print(x>y)

True

In [127]:
print(x<y)

False

In [129]:
print(x>=y)

True

In [131]:
print(x<=y)

False

In [133]:
print(x!=y)

True

In [135]:
#(c)Logical Operators

'''A logical operator, also known as a logical connective, is a symbol or word used to connect two or more expressions or conditions, 
evaluating to either true or false based on the truth values of the connected expressions.'''

'''
* and : both the conditions are True
* or : atleast one of the conditions should True
* not : negation / opposite result will be displayed
'''

'\n* and : both the conditions are True\n* or : atleast one of the conditions should True\n* not : negation / opposite result will be displayed\n'

In [137]:
#For Example:
x=5
y=10
z=15

In [139]:
#and
x<y and y<z

True

In [141]:
#or
x<y or x>z

True

In [143]:
#not
not(x<y)

False

In [145]:
not(x>y)

True

In [147]:
#(d)Bitwise Operators

'''A bitwise operator is a character representing an action performed on data at the bit level (individual bits in a binary pattern), 
rather than on bytes or larger units of data.'''

'''
* &(and)
* |(or)
* ~(tilda)
* ^(xor)
* >>(Right Shift),<<(Left Shift)
'''

'\n* &(and)\n* |(or)\n* ~(tilda)\n* ^(xor)\n* >>(Right Shift),<<(Left Shift)\n'

In [149]:
#For Example:
10&10

10

In [151]:
bin(10)

'0b1010'

In [153]:
5|3

7

In [155]:
bin(5)

'0b101'

In [157]:
bin(3)

'0b11'

In [159]:
bin(7)

'0b111'

In [161]:
~3

-4

In [163]:
5^3

6

In [165]:
bin(6)

'0b110'

In [167]:
280>>3 #Right Shift

35

In [169]:
bin(35)

'0b100011'

In [171]:
35<<3 #Left Shift

280

In [173]:
bin(280)

'0b100011000'

In [175]:
#(e)Assignment Operators
'''
In Python, assignment operators assign values to variables, with the basic operator being =, and augmented operators like +=, -=, *=, etc.,
combining arithmetic operations with assignment. '''

'''
* (=)Equal
* (+=)Addition
* (-=)Substraction
* (*=)Multiplication
* (/=)Division 
'''

'\n* (=)Equal\n* (+=)Addition\n* (-=)Substraction\n* (*=)Multiplication\n* (/=)Division \n'

In [177]:
#For Example:
a

'Sumitabh'

In [179]:
a=5

In [181]:
a

5

In [183]:
'''5 is assigned to a now value of a is 5'''

'5 is assigned to a now value of a is 5'

In [185]:
b=3

In [187]:
a

5

In [189]:
b

3

In [191]:
a+b

8

In [193]:
a

5

In [195]:
b

3

In [197]:
a+=b

In [199]:
a

8

In [201]:
''' So,now addition of a+b is assigned to a '''

' So,now addition of a+b is assigned to a '

In [203]:
a-=b

In [205]:
a

5

In [207]:
''' Now, b is substracted from a and the output result is assigned to a '''

' Now, b is substracted from a and the output result is assigned to a '

In [209]:
a*=b

In [211]:
a

15

In [213]:
''' Now, b is multiplied with a and the output value is assigned to a '''

' Now, b is multiplied with a and the output value is assigned to a '

In [215]:
a/=b

In [217]:
a

5.0

In [219]:
''' So, now value of a is divided by b and the output value is assigned to a '''

' So, now value of a is divided by b and the output value is assigned to a '

In [221]:
#(f) Membership Operators

''' In Python, membership operators, in and not in, check if a value is present or absent within 
a sequence (like strings, lists, tuples, or sets) and return a boolean value (True or False) accordingly. 
'''
'''
* in
* not in
'''

'\n* in\n* not in\n'

In [223]:
#For Example:
'a' in 'banana'

True

In [225]:
'c' in 'banana'

False

In [227]:
'c' not in 'apple'

True

In [229]:
'a' not in 'banana'

False

In [411]:
#(g) Identity Operators

''' In Python, identity operators (is and is not) check if two variables point to the same object in memory, 
unlike equality operators (== and !=) which compare values. '''

'''
* is
* is not
'''

'\n* is\n* is not\n'

In [233]:
x=10
y=10

In [235]:
x is y

True

In [237]:
x is not y

False

In [239]:
x=5
y=4

In [241]:
x is not y

True

In [242]:
y is x

False

In [244]:
5.#Explain the concept of type casting in Python with examples.
#Typecasting in Python.

''' n Python, type casting, also known as type conversion, is the process of converting a value from one data type to another,
often using built-in functions like int(), float(), and str(). '''

' n Python, type casting, also known as type conversion, is the process of converting a value from one data type to another,\noften using built-in functions like int(), float(), and str(). '

In [245]:
#For Example:
''' In cell number [60] type of a was show as float.'''

' In cell number [60] type of a was show as float.'

In [247]:
type(a)

float

In [250]:
''' Now, we will convert it to integer.'''
type(int(a))

int

In [252]:
#Let's see another example.
x=3.4

In [254]:
x

3.4

In [257]:
type(x)

float

In [259]:
int(x)

3

In [261]:
str(x)

'3.4'

In [263]:
float(x)

3.4

In [265]:
bool(x)

True

In [267]:
int(x)

3

In [269]:
6.#How do conditional statements work in Python? Illustrate with examples.
#Conditional Statements in Python.

''' In Python, conditional statements, using if, elif (else if), and else, 
allow you to execute different blocks of code based on whether a condition is true or false, controlling the flow of your program. '''

'''
* if
* if-else
* if-elif-else
* nested-if-else
'''

'\n* if\n* if-else\n* if-elif-else\n* nested-if-else\n'

In [271]:
#For Example: if condition is true
a=100

In [273]:
if a>0:
    print('The number that is greater than 0')

The number that is greater than 0

In [275]:
#Therefore,
''' The Condition is true that's why code entered in indented block or indentation. 4 subssequent spaces or 1tab is called indentation.'''

" The Condition is true that's why code entered in indented block or indentation. 4 subssequent spaces or 1tab is called indentation."

In [277]:
#if condition is not true/false
a=100

In [279]:
if a<0:
    print('The number is greater than 0')

In [281]:
''' The Condition is not true because value assigned to the variable a which is 100 is not lesser than 0 that's why nothing is shown as output.'''

" The Condition is not true because value assigned to the variable a which is 100 is not lesser than 0 that's why nothing is shown as output."

In [283]:
#For Example: if-else (True)

In [285]:
weather='sunny'

In [287]:
if weather=='sunny':
    print('I will Play Cricket')
else:
    print('I will play video games on Television')

I will Play Cricket

In [289]:
#if-else (False)

In [291]:
weather='rainy'

In [293]:
if weather=='sunny':
    print('I will Play Cricket')
else:
    print('I will play video games on Television')

I will play video games on Television

In [295]:
#For Example: if-else-else

In [297]:
a=100

In [299]:
if a>100:
    print('a is greater than 100')
elif a<100:
    print('a is less than 100')
else:
    print('a is equals to 100')

a is equals to 100

In [301]:
a=99

In [303]:
if a>100:
    print('a is greater than 100')
elif a<100:
    print('a is less than 100')
else:
    print('a is equals to 100')

a is less than 100

In [305]:
a=101

In [307]:
if a>100:
    print('a is greater than 100')
elif a<100:
    print('a is less than 100')
else:
    print('a is equals to 100')

a is greater than 100

In [309]:
#For Example: nested-if-else

In [311]:
x=1
y=6

In [313]:
if x>5:
    if y>5:
        print('Both x and y is greater than 5')
    else:
        print('x is greater than 5')
else:
    print('x is not greater than 5')

x is not greater than 5

In [315]:
x=10
y=1

In [317]:
if x>5:
    if y>5:
        print('Both x and y is greater than 5')
    else:
        print('x is greater than 5')
else:
    print('x is not greater than 5')

x is greater than 5

In [319]:
x=7
y=10

In [321]:
if x>5:
    if y>5:
        print('Both x and y is greater than 5')
    else:
        print('x is greater than 5')
else:
    print('x is not greater than 5')

Both x and y is greater than 5

In [323]:
a = int(input('Enter a Number'))

Enter a Number 77

In [325]:
if a >=100:
    print('The Number is Greater Than 100')
elif 0<=a<100:
    print('The Number is Greater than 0 and Less than 100')
else:
    print('This is a Negative Number')

The Number is Greater than 0 and Less than 100

In [ ]:
7.#Describe the different types of loops in Python and their use cases with examples.
#Loops and Types of Loops in Python with Examples.

''' Loops allows to execute a block of code repeatedly'''

'''
* while loop
* for loop
'''

In [ ]:
#For Example: While Loop
s=13
n=3
while n < s:
    print(n)
    n=n+1

In [ ]:
#For Example: While Loop
s=12
n=3
while n < s:
    print(n)
    n=n+1

In [353]:
#For Example: While Loop
s=12
n=3
while n<s:
    print(n)
    n=n+1

3
4
5
6
7
8
9
10
11

In [355]:
s=12
n=3
while n<s:
    print(n)
    n=n+1
else:
    print('This will be executed if while loop run succesfully without any break')

3
4
5
6
7
8
9
10
11
This will be executed if while loop run succesfully without any break

In [365]:
s=12
n=3
while n<s:
    print(n)
    n=n+1
    if n==7:
        break
else:
    print('This will be executed if while loop run succesfully without any break')

3
4
5
6

In [371]:
s=12
n=3
while n<s:
    n=n+1
    if n==5:
        continue
    print(n)
else:
    print('This will be executed if while loop run succesfully without any break')

4
6
7
8
9
10
11
12
This will be executed if while loop run succesfully without any break

In [373]:
#For Example: For Loop
for i in 'sumitabh':
    print(i)

s
u
m
i
t
a
b
h

In [397]:
a=[1,2,4,6,9,'sumitabh']
for i in a:
    print(i)
else:
    print('This will be executed if while loop run succesfully without any break')

1
2
4
6
9
sumitabh
This will be executed if while loop run succesfully without any break

In [403]:
a=[1,2,4,6,9,'sumitabh']
for i in a:
    if i==9:
        break
    print(i)
else:
    print('This will be executed if while loop run succesfully without any break')

1
2
4
6

In [407]:
a=[1,2,4,6,9,'sumitabh']
for i in a:
    if i==9:
        continue
    print(i)
else:
    print('This will be executed if while loop run succesfully without any break')

1
2
4
6
sumitabh
This will be executed if while loop run succesfully without any break